@import url('https://fonts.googleapis.com/css?family=Raleway:400,300,600');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif !important;
}

header, section {
  padding-top: 5rem;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  background-image: linear-gradient(to right, black, black);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 100% 2px;
  text-decoration: none !important;
}

.social-icons a {
  color: black!important;
  background: none;
}

.user-image {
  width: 140px;
  height: 140px;
}

@media (max-width: 767px) {
  header .col-lg-2 {
    padding-bottom: 3rem;
  }
}